<div class="add-btn-container">
    <%= render 'layouts/log-out-btn' %>
</div>
<div class="wrapper">
    <% @users.each do | userr | %>
        <%= link_to user_path(userr.id) do %>
            <div class="user-list">
                <div class="image" style="background-image: url(<%= userr.photo %>); background-repeat: no-repeat; background-position: center; background-size: 200px auto;"></div>
                <div class="user-info">
                    <div class="user-name"><%= userr.name %></div>
                    <div class="user-num-posts">Number of posts: <%= userr.postCounter %></div>
                </div>
            </div>
        <% end %>
    <% end %>
</div>